* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.8;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    
}

a {
    transition: all 0.4s ease;
    text-decoration: none;
}

img {
    width: 100%;
}

small {
    font-size: 15px;
    letter-spacing: 2px;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #F53838;
}

.logo-text {
    font-size: 22px;
}

#home {
    background-image: url("img/italy1.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#home h1 {
    color: white;
    font-weight: 700;
}

#home p {
    color: white;
    max-width: 600px;
    margin: 18px auto;
}

.btn {
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 5px;
}

.btn-brand {
    background-color: #F53838;
    color: white;
}

.btn-brand:hover {
    background-color: #b92c2c;
    color: white;
}

#tours {
    padding-top: 80px;
    padding-bottom: 30px;
    justify-content: center;
}

#tours h1 {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.popular {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.popular .col-1 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #18191F;
    margin-bottom: 13px;
}

.popular .category-icons {
    color: #18191F;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.popular a.category-items {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
}

.popular a.category-items:hover {
    transform: scale(1.1);
}

.tours .card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    transition: ease-in-out .3s;
}

.tours .card:hover {
    transform: scale(1.05);
}

.tours .card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(252, 252, 252, 0) 0.12%,
        rgba(37, 38, 39, 0.8) 99.88%
    );
    border-radius: 10px;
}

.card {
    margin-bottom: 25px;
    border-radius: 10px;
}

.card img {
    border-radius: 10px;
}

.card-img-overlay {
    margin-top: 300px;
}

.card .card-title .card-text {
    font-size: 100%;
}

#about {
    text-align: center;
    padding: 80px 30px 0 30px;
    color: black;
}

#about h1 {
    padding-bottom: 10px;
}

#testimonials {
    padding: 80px 30px 60px 30px;
}

.review img {
    width: 50px;
    border-radius: 50px;
}

.review .stars {
    color: #F53838;
}

.review p {
    max-width: 800px;
    margin: 24px auto;
    font-size: 15px;
    font-style: italic;
}

#contact {
    padding: 80px 30px 60px 30px;
}

form .form-control {
    border-radius: 0;
}

form .form-control:focus {
    box-shadow: none;
    border-color: #F53838;
}

.footer-top {
    padding-top: 80px;
    padding-bottom: 30px;
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a,
footer .footer-links p, 
footer .social-icons a {
    color: #898FA1;
}

footer .social-links a {
    font-size: 24px;
}

footer .footer-links a {
    display: block;
    font-weight: 400;
}

footer .footer-links a:hover,
footer .social-icons a:hover {
color: #F53838;
}

@media screen and (max-width: 575px) {
    .card-img-overlay {
        margin-top: 500px;
    }
    
    .card .card-title .card-text {
        font-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card-img-overlay {
        margin-top: 340px;
    }
    
    .card .card-title .card-text {
        font-size: 100%;
    }
}

@media screen and (max-width: 992px) {
    .card-img-overlay {
        margin-top: 190px;
    }
    
    .card .card-title .card-text {
        font-size: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .card-img-overlay {
        margin-top: 250px;
    }
    
    .card .card-title .card-text {
        font-size: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .card-img-overlay {
        margin-top: 300px;
    }
    
    .card .card-title .card-text {
        font-size: 100%;
    }
}